NODE_ENV=development
PORT=3001
HOST=0.0.0.0
OPEN_METEO_MARINE_BASE_URL=https://marine-api.open-meteo.com/v1/marine
OPEN_METEO_WEATHER_BASE_URL=https://api.open-meteo.com/v1/forecast
UKHO_TIDAL_API_KEY=########################

DATABASE_URL=postgresql://surf_window:surf_window@localhost:5432/surf_window